#authentication {
    position: absolute;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    width: clamp(20%, 300px, 100%);
    background-color: #fff;
    z-index: 10000000;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    transition: ease box-shadow 800ms, ease transform 500ms;
    pointer-events: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#authentication::-webkit-scrollbar {
    display: none;
}

#authentication.active {
    box-shadow: 2px 0px 7px 2px #00000017;
    transform: translate(0);
}

#authentication>div {
    position: relative;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    min-width: calc(100% - 24px) !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12px;
    pointer-events: all;
}

#sign-in>button,
#sign-up>button {
    width: clamp(40%, 100px, 50%);
    margin: auto;
    padding: 8px;
    color: #fff;
    border: unset;
    background-color: #000;
    font-size: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 7px 2px #00000024;
    transition: ease transform 300ms, ease box-shadow 300ms;
    cursor: pointer;
}

#sign-in>button:hover,
#sign-up>button:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 5px 2px #00000041;
}

#sign-up>#auth-back {
    margin-left: 5%;
    background-color: #000;
    max-width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#sign-up>#auth-back>img {
    height: 24px;
    width: 24px;
    margin: auto;
}

#sign-up>#auth-back>span {
    margin: auto;
    line-height: 24px;
    padding-right: 6px;
}

#sign-in>h1,
#sign-up>h1 {
    font-size: 1rem;
    font-weight: 500;
    width: clamp(70%, 160px, 90%);
    margin: auto;
    text-align: center;
}

#sign-up>h1 {
    font-size: 1.4rem;
}

#sign-in>input,
#sign-up>input {
    padding: 10px;
    font-size: 0.9rem;
    width: 80%;
    margin: auto;
}

#sign-in>h1>a {
    color: #0076d7;
    cursor: pointer;
}

#sign-in>a,
#sign-up>a {
    text-align: center;
    cursor: pointer;
    font-size: 0.8rem;
    color: #0076d7;
    text-shadow: 0 0 1px #0003;
    transition: ease text-shadow 300ms, ease color 300ms;
}

#sign-in>a:hover,
#sign-up>a:hover {
    color: #007de3;
    text-shadow: 0 2px 3px #0003;
}

#sign-up {}

#profile-picture {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
    background-color: #f7fbff;
    border: solid 6px #ebebeb;
    border-radius: 100px;
    box-shadow: inset 0 0 18px -2px #0008;
    overflow: hidden;
    position: relative;
}

#profile-picture::after,
#profile-picture::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: #535353;
    top: 32%;
    left: 30%;
    z-index: 1;
    border-radius: 100px;
}

#profile-picture::after {
    top: 70%;
    left: 15%;
    width: 70%;
    border-radius: 200px !important;
}

#profile-picture::before {
    box-shadow: 0 0 22px -2px #0008;
    transition: ease transform 300ms;
    animation-name: head-bob;
    animation-duration: 3.4s;
    animation-iteration-count: 999999;
}

@keyframes head-bob {
    0% {
        transform: unset;
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: unset;
    }
}

#sign-in-error,
#sign-up-error {
    border: solid 2px #ca3726;
    background-color: #fff2ef;
    border-radius: 6px;
    padding: 12px;
    font-size: 0.8rem;
    width: fit-content;
    max-width: calc(90% - 28px);
    margin: auto;
    overflow: hidden;
    transition: ease padding 300ms, ease border 300ms, ease height 300ms;
    display: flex;
    flex-direction: row;
}

#sign-in-error.disabled,
#sign-up-error.disabled {
    padding: 0;
    border: unset;
    height: 0;
}

#sign-in-error>img,
#sign-up-error>img {
    height: 24px;
    margin: auto;
    margin-right: 8px;
}

#sign-in-error>span,
#sign-up-error>span {
    margin: auto;
}