:root {
    --border-color: #959595;
}

#edit-item-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0002;
    transform: translateX(100%);
    transition: ease opacity 300ms;
    display: flex;
    flex-direction: column;
}

#edit-item {
    width: 500px;
    max-width: calc(100% - 80px);
    height: fit-content;
    max-height: calc(100% - 80px);
    background-color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}

#edit-item>#edit-item-header {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-container;
}

#edit-item>#edit-item-header>div>input,
#edit-item>input {
    border: unset;
    border-bottom: 2px solid var(--border-color);
    padding: 6px 8px;
    font-size: 1.2rem;
    margin: 20px auto;
    margin-top: 0;
    width: -webkit-fill-available;
}

#edit-item>#edit-item-header>div>h1,
#edit-item>h1 {
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 30px;
}

#edit-item>#edit-item-header>div>h6,
#edit-item>h6 {
    font-family: sans-serif;
    margin: 0;
    font-size: 1rem;
}

#edit-item>#edit-item-header>div>h6>span,
#edit-item>h6>span {
    color: #f00;
}

#edit-item-ingredients-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 20px auto;
    width: -webkit-fill-available;
    min-height: 200px;
}

#edit-item-ingredients,
#edit-item-pick-category {
    position: relative;
    height: 100%;
    flex-grow: 1;
    border: solid 2px var(--border-color);
    border-radius: 6px;
}

#edit-item-pick-category {
    margin-top: 10px;
    margin-bottom: 20px;
}

#edit-item-ingredients-buttons {
    position: relative;
    min-width: 80px;
    height: calc(100% + 3px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    display: none;
}

#edit-item-ingredients-buttons>button {
    flex-grow: 1;
    background-color: unset;
    border: solid 2px var(--border-color);
    border-radius: 6px;
    color: #000;
    font-size: 0.8rem;
    font-weight: 900;
}

#edit-item-ingredients-buttons>div {
    height: 10px;
}

#edit-item-nutrition {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    border: solid 2px var(--border-color);
    border-radius: 6px;
    padding: 20px;
}

#edit-item-nutrition>div {
    flex-grow: 1;
    max-width: 100px;
}

#edit-item-nutrition>div>input {
    width: -webkit-fill-available;
}

#edit-item-nutrition>div>label {
    font-family: sans-serif;
    color: #000;
    font-size: 0.8rem;
    font-weight: 900;
}

#edit-item-action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 24px;
    margin-bottom: 0;
}

#edit-item-action-buttons>button {
    border: unset;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}

#edit-item-save {
    background-color: #46d00e;
    color: #fff;
}

#edit-item-cancel {
    background-color: #0000;
    color: rgb(241, 55, 55);
}

#edit-item {
    padding: 0;
}

#edit-item-header-2 {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.001) 1%, rgba(255, 255, 255, 1)), url('../resources/dough.png');
    ;
    background-size: cover;
    background-position: top;
    width: -webkit-fill-available;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#edit-item-title {
    margin: 5px 15px;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 12px #000b;
}

#edit-item-footer-2 {
    width: -webkit-fill-available;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
}

#edit-item-toolbar {
    padding: 5px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    padding-bottom: 20px;
    padding-right: 10px;
}

#edit-item-toolbar::-webkit-scrollbar {
    display: none;
}

#edit-item-toolbar>button {
    margin: 5px;
    border: unset;
    font-size: 1rem;
    border-radius: 40px;
    padding: 10px 15px;
    letter-spacing: 1.1px;
    background-color: #1818186b;
    transition: ease background-color 700ms, transform 500ms ease;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

#edit-item-toolbar>button:hover {
    background-color: #000000a8;
}

#edit-item-toolbar>button>div {
    margin: auto;
    color: #fff;
}

#edit-item-toolbar>button>span {
    border-radius: 60px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    margin: auto;
    opacity: 0.2;
    display: block;
    position: relative;
    margin-left: 10px;
}


#edit-item-toolbar>button.selected {
    transform: translateY(12px);
    background-color: #000000a8;
}


#edit-item-toolbar>button.completed {
    /* background-color: #1abd00cf !important */
}

#edit-item-toolbar>button.completed>span {
    opacity: 1;
}

#edit-item-toolbar>button>span::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    margin: 4px;
    border-radius: 100px;
    left: 0;
    top: 0;
    background-color: #fff;
    transition: ease 800ms background-color;
}

#edit-item-toolbar>button.completed>span::after {
    background-color: #000000cc;
}

#edit-item-toolbar>button.completed:hover {
    /* background-color: #15a100b4 !important */
}

.edit-item-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 10;
    background-color: unset;
    padding: 5px;
    opacity: 0.4;
    margin: 10px;
    border: unset;
    transition: ease opacity 500ms, ease filter 500ms;
    filter: drop-shadow(0 0 5px #0002) drop-shadow(0 0 5px #0002);
}

#edit-item-hidden {
    left: 50px;
}

#edit-item-favourite {
    left: 100px;
}

#edit-item-close,
#edit-item-delete {
    left: unset;
}

#edit-item-close {
    right: 0;
}

#edit-item-delete {
    right: 50px;
}

.edit-item-button>img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    transform: scale(0.9);
}

#edit-item-delete>img,
#edit-item-favourite>img {
    transform: scale(0.8);
}

#edit-item-close {
    opacity: 0.8;
    filter: drop-shadow(0 0 2px #000);
}

.edit-item-button:hover {
    opacity: 1 !important;
    filter: drop-shadow(0 0 5px #000) !important;
}

.grey-area{
    background-color: #ebebeb;
    border-radius: 8px;
    border: unset;
    position: relative;
}