#helper{
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: #fff;
    padding: 5px 8px;
    border: solid 3px rgb(231, 231, 231);
    border-radius: 8px;
    display: none;
}