#results>.thumbnail {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    height: fit-content;
    box-shadow: 0 2px 12px -5px #00000038;
    max-width: 400px;
    min-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: ease transform 500ms, ease box-shadow 500ms;
}

#results>.thumbnail:hover{
    transform: translateY(-4px) rotate(-0.5deg);
    box-shadow: 0 4px 12px -5px #00000048;
}

#results>.thumbnail>.header {
    display: flex;
    flex-direction: row;
    padding: 0 4px;
}

#results>.thumbnail>.header>button {
    background-color: unset;
    border: unset;
    width: 32px;
    height: 40px;
    padding: unset;
}

#results>.thumbnail>.text-section {
    margin: 0 10px;
    margin-top: 10px;
}

#results>.thumbnail>.text-section>h1 {
    margin: unset;
    font-weight: 600;
    font-size: 1.5rem;
}

#results>.thumbnail>.text-section>h2 {
    margin: 5px 0;
    font-weight: 500;
    font-size: 1.1rem;
}

#results>.thumbnail>.text-section>h3 {
    margin: 5px 0;
    font-weight: 300;
    font-size: 0.9rem;
}

button.thumbnail-symbol,
button.thumbnail-settings {
    width: 40px;
    height: 40px;
}

button.thumbnail-settings {
    cursor: pointer;
}

img.thumbnail-symbol,
img.thumbnail-settings,
img.date {
    height: 24px;
    width: 24px;
    margin: auto;
    padding: unset;
}

.buffer {
    flex-grow: 1;
}