#suggestion {
    left: 0;
    top: 0;
    background-color: #fff;
    border-radius: 8px;
    display: none;
    flex-direction: row;
    height: 40px;
}

#suggestion>* {
    background-color: #ebebeb !important;
    border-radius: 8px;
    border: unset;
    position: relative;
    padding: 8px;
    font-size: 0.75rem;
    font-weight: 500;
    flex-grow: 1;
    transition: ease flex-grow 300ms;
}

#current-suggestion {
    line-height: 40px;
    font-size: 1rem;
    margin: auto;
    padding: 0 8px !important;
    min-width: 80px;
    margin-left: 12px;
    margin-right: 12px;
    flex-grow: 1;
    white-space: nowrap !important;
    width: fit-content !important;
}

#suggestion>button {
    padding: 0;
    border: unset;
    background-color: unset;
    cursor: pointer;
    transition: ease background-color 300ms;
    width: 40px;
    margin: unset;
}

#suggestion>button>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transform: scale(0.8);
}

#suggestion>button:hover {
    background-color: #e0e0e07e;
}

#suggestion>button.disable {
    pointer-events: none;
    opacity: 0.4 !important;
    cursor: default !important;
}

#suggest-left{
    margin-right: 12px !important;
    max-width: 40px;
}

#suggest-right{
    margin-left: 12px !important;
    max-width: 40px;
}